{% extends 'place_state.html' %}
{% load i18n %}
{% block edit_button %}{% endblock edit_button %}
{% block script %}
    edit_stay({{ stay_id }});
{% endblock script %}
{% block form %}
    <h5>{% trans 'Zwolnienie miejsca' %}</h5>
    <b>{% trans 'Miejsce będzie do dyspozycji mariny:' %}</b>
    <form method="post" id="form_{{ place_id }}" onsubmit="return false;">
        <fieldset>
            <label for="email" class="">{% trans 'Data Od' %}</label>
            <input type="text" class="date" name="date_start" id="date_start_{{ place_id }}">
            <label for="email" class="" id="">{% trans 'Data Do' %}</label>
            <input type="text" class="date" name="date_end" id="date_end_{{ place_id }}">
        </fieldset>
        <hr>
    </form>
{% endblock form %}
{% block submit_text %}{% trans 'Zwolnij miejsce' %}{% endblock submit_text %}