{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block scripts %}
    {{ block.super }}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <style>
        #mapid { height: 600px; }
    </style>
    <script>
        $(document).ready(function() {
            var map = L.map('mapid', {
                {#                crs: L.CRS.Simple#}
            }).setView([53.9747, 14.769], 18);
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiYmVyZXQiLCJhIjoiY2lwM3I3NHVzMDAxendibHlybTNvbWZ5eSJ9.QeqzTkthT-iHFe6z9WZiuA', {
                maxZoom: 22,
                attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="http://mapbox.com">Mapbox</a>',
                id: 'mapbox.streets'
            }).addTo(map);

            {#            var bounds = [[53.98, 14.8], [53.97, 14.7]];#}
            {#            var image = L.imageOverlay('{% static 'plan_portu.svg' %}', bounds).addTo(map);#}
            {##}
            {#            map.fitBounds(bounds);#}
            {#            var marker = L.marker([539, 147]).addTo(map);#}
            var pomosty = {
                'A':[
                    [53.9741927, 14.76704],
                    [53.9737165,    14.7674627],
                    [false, true]
                ],
                'B':[
                    [53.974448, 14.767642],
                    [53.97391, 14.768145],
                    [true, true]
                ],
                'C':[
                    [53.9750375, 14.768005],
                    [53.97411, 14.76886],
                    [true, true]
                ],
                'D':[
                    [53.975435, 14.76856],
                    [53.97436, 14.769563],
                    [true, true]
                ],
                'E':[
                    [53.974958, 14.770105],
                    [53.974897, 14.771],
                    [true, true]
                ],
                'F':[
                    [53.975321, 14.76981],
                    [53.97523,  14.77107],
                    [true, true]
                ],
                'G':[
                    [53.975640, 14.769861],
                    [53.975547, 14.771125],
                    [true, false]

                ]
            };

            for(_i in pomosty){
                pomosty[_i][3] = L.polygon([
                    pomosty[_i][0],
                    pomosty[_i][1]
                ]).addTo(map);
                var _xb = pomosty[_i][0][0];
                var _xe = pomosty[_i][1][0];
                var _yb = pomosty[_i][0][1];
                var _ye = pomosty[_i][1][1];
                var _n = 10;
                var _lmj = 12/111120;
                var _lmi = 2/111120;
                var _r = 90/(90-_xb);
                var _xp = _xb-_xe;
                var _yp = _yb-_ye;
                var _xpn = _xp/(_n*5);
                var _ypn = _yp/(_n*5);

                var _lp = Math.sqrt(_xp*_xp+_yp*_yp);
                var _fmj = _lmj/_lp;
                var _fmi = _lmi/_lp;
                var _xmj = (_xp*_fmj)*_r;
                var _ymj = (_yp*_fmj)*-1;
                var _xmi = (_xp*_fmi)*_r;
                var _ymi = (_yp*_fmi)*-1;
                for(var _im=0; _im<_n; _im++){
                    if(pomosty[_i][2][0]){
                        L.polygon([
                            [_xe+(_xpn*(_im*5))-_ymi, _ye+(_ypn*(_im*5))-_xmi],
                            [_xe+(_xpn*(_im*5+2))-_ymj, _ye+(_ypn*(_im*5+2))-_xmj],
                            [_xe+(_xpn*(_im*5+4))-_ymi, _ye+(_ypn*(_im*5+4))-_xmi]
                        ]).addTo(map);
                    }
                    if(pomosty[_i][2][1]){
                        L.polygon([
                            [_xe+(_xpn*(_im*5))+_ymi, _ye+(_ypn*(_im*5))+_xmi],
                            [_xe+(_xpn*(_im*5+2))+_ymj, _ye+(_ypn*(_im*5+2))+_xmj],
                            [_xe+(_xpn*(_im*5+4))+_ymi, _ye+(_ypn*(_im*5+4))+_xmi]
                        ]).addTo(map);
                    }


                }

            }
        });
    </script>
{% endblock scripts %}
{% block content %}
    <div id="mapid"></div>
{% endblock content %}