{% extends 'base.html' %}
{% load static %}
{% block scripts %}
    {{ block.super }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <style>
        #mapid { height: 800px; }
    </style>
    <script>
        var ships = [
            {% for ship in ships %}
                {
                    value: '{{ ship.id }}',
                    label: '{{ ship }}',
                    name: '{{ ship.name }}',
                    length: '{{ ship.length }}',
                    flag: '{{ship.flag.code}}'
                },
            {% endfor %}
        ]
    </script>
    <script>
        hubs = {};
        places = {};
        piers = {};
        map = null;

        function _places(places, action){
            return function(){
                $.each(places, function (id) {
                    action(places[id]);
                });
            }
        }

        function _draw(item, color){
            if(!color){
                color = 'red';
            }
            item.icon.setStyle({
                color: color,
                fillColor: color,
                fillOpacity: 1
            });
            item.icon.addTo(map);
        }

        function _draw_place(item, color){
            if(!color){
                color = 'red';
            }
            item.icon.setStyle({
                color: color,
                fillColor: color
            });
            item.icon.addTo(map);
            item.connector.addTo(map);
        }

        draw_hubs = _places(hubs, function(item){_draw(item, 'red');});
        draw_places = _places(places, function(item){_draw(item, 'green');});


        $(document).ready(function() {
            var _height = $(window).height()-50;
            $('#mapid').css('height', _height);
            map = L.map('mapid', {
                {#                crs: L.CRS.Simple#}
            }).setView([53.9747, 14.769], 18);
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiYmVyZXQiLCJhIjoiY2lwM3I3NHVzMDAxendibHlybTNvbWZ5eSJ9.QeqzTkthT-iHFe6z9WZiuA', {
                maxZoom: 22,
                attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> SeaStone Marina Manager © Adam Mańczuk, Mariusz Palenica',
                id: 'mapbox.streets'
            }).addTo(map);

            {% for pier, items in piers %}
                var _xb = {{ pier.loc_start_x }};
                var _xe = {{ pier.loc_end_x }};
                var _yb = {{ pier.loc_start_y }};
                var _ye = {{ pier.loc_end_y }};

                var _n = {{ pier.len }};

                var _lpm = 1/111120;

                var _lmj = 12/111120;
                var _lmi = 2/111120;
                var _r = 90/(90-_xb);
                var _xp = _xb-_xe;
                var _yp = _yb-_ye;
                var _xpn = _xp/(_n*6);
                var _ypn = _yp/(_n*6);

                var _lp = Math.sqrt(_xp*_xp+_yp*_yp);
                var _fpm = _lpm/_lp;
                var _fmj = _lmj/_lp;
                var _fmi = _lmi/_lp;
                var _xpm = (_xp*_fpm)*_r;
                var _ypm = (_yp*_fpm)*-1;
                var _xmj = (_xp*_fmj)*_r;
                var _ymj = (_yp*_fmj)*-1;
                var _xmi = (_xp*_fmi)*_r;
                var _ymi = (_yp*_fmi)*-1;
                var _im = 0;
                var _li = 0;
                var pier = {
                    icon: L.polygon([
                        [_xb + _ypm, _yb + _xpm],
                        [_xe + _ypm, _ye + _xpm],
                        [_xe - _ypm, _ye - _xpm],
                        [_xb - _ypm, _yb - _xpm]
                    ]),
                    places: {},
                    hubs: {}
                };
                piers[{{ pier.id }}] = pier;
                var place;
                var hub;

                {% for item in items %}
                    place = null;
                    hub = null;
                    _set_place = function(place){
                        if(place && place.icon){
                            place.icon.bindPopup("<div class=\"place {% if action == 'edit' %}place_sort{% endif %}\"><input class=\"place_id\" type=\"hidden\" value=\"{{ pier.id }}__{{ item.type }}__{{ item.id }}\"><div class=\"well row\"><div >{% if item.ship %}<button>Podłącz przyłącze</button>{% endif %}</div><div>{{ item.name }}: ({{ item.min_length }}m.&nbsp;-&nbsp;{{ item.max_length }}m.)</div><div>{% if item.ship %}{{ item.ship }}<button>Rozlicz</button>{% else %}<button class=\"create_stay\" onclick=\"create_stay({{ item.id }})\">Dodaj postój</button>{% if action == 'contacts' %}<button>Dodaj rezydenta</button>{% endif %}{% endif %}</div></div></div>");
                            places[{{ item.id }}] = place;
                            pier.places[{{ item.id }}] = place;
                        }
                    };
                    {% if item.type == "place" %}
                        {% if pier.left_site %}
                            {% if pier.right_site %}if(_im%2==0){ _li = _im/2; {% else %} _li = _im;{% endif %}
                            place = {
                                icon: L.polygon([
                                    [_xb-(_xpn*(_li*6+1))-_ymi, _yb-(_ypn*(_li*6+1))-_xmi],
                                    [_xb-(_xpn*(_li*6+3))-_ymj, _yb-(_ypn*(_li*6+3))-_xmj],
                                    [_xb-(_xpn*(_li*6+5))-_ymi, _yb-(_ypn*(_li*6+5))-_xmi]
                                ]),
                                connector: L.circle([_xb-(_xpn*(_li*6+3))-_ymi, _yb-(_ypn*(_li*6+3))-_xmi], 0.5),
                                connection: [_xb-(_xpn*(_li*6+3))-_ymi, _yb-(_ypn*(_li*6+3))-_xmi]
                            };
                            {% if pier.right_site %}}{% endif %}
                        {% endif %}
                        {% if pier.right_site %}
                            {% if pier.left_site %}if(_im%2==1){ _li = (_im - 1) / 2; {% else %} _li = _im;{% endif %}
                            place ={
                                icon: L.polygon([
                                    [_xb - (_xpn * (_li * 6 + 1)) + _ymi, _yb - (_ypn * (_li * 6 + 1)) + _xmi],
                                    [_xb - (_xpn * (_li * 6 + 3)) + _ymj, _yb - (_ypn * (_li * 6 + 3)) + _xmj],
                                    [_xb - (_xpn * (_li * 6 + 5)) + _ymi, _yb - (_ypn * (_li * 6 + 5)) + _xmi]
                                ]),
                                connector: L.circle([_xb - (_xpn * (_li * 6 + 3)) + _ymi, _yb - (_ypn * (_li * 6 + 3)) + _xmi], 0.5),
                                connection: [_xb - (_xpn * (_li * 6 + 3)) + _ymi, _yb - (_ypn * (_li * 6 + 3)) + _xmi]
                            };
                            {% if pier.left_site %}}{% endif %}
                        {% endif %}
                        _im++;
                        _set_place(place);
                    {% endif %}
                    {% if item.type == "hub" %}
                        hub = {
                            icon: L.circle([_xb-(_xpn*(_li*6)), _yb-(_ypn*(_li*6))], 1),
                            connection: [_xb-(_xpn*(_li*6)), _yb-(_ypn*(_li*6))]
                        };
                        hub.icon.bindPopup("<b>{{ item }}</b>");
                        hubs[{{ item.id }}] = hub;
                        pier.hubs[{{ item.id }}] = hub;
                    {% endif %}
                {% endfor %}
            {% endfor %}
            draw_places();
            draw_hubs();
        });

    </script>
{% endblock scripts %}
{% block content %}
    <div id="add_stay_form" title="Dodaj postój" class="container">
        <form method="post">
            <fieldset>
                <div class="row">
                    <input type="hidden" name="ship_id" id="ship_id" value="">
                    <input type="hidden" name="place_id" id="place_id" value="">
                    <label for="ship_name" class="">Jacht</label>
                    <input type="text" name="ship_name" id="ship_select" value="" class="text ui-widget-content ui-corner-all">
                    <select name="flag" id="ship_flag">
                        <option>wybierz flagę...</option>
                        <option value="pl">Polska</option>
                        <option value="de">Niemcy</option>
                        <option value="se">Szwecja</option>
                        <option value="dk">Dania</option>
                        <option value="nl">Holandia</option>
                        <option value="no">Norwegia</option>
                        <option value="fr">Francja</option>
                        <option value="be">Belgia</option>
                        <option value="fi">Finlandia</option>
                        <option value="cz">Czechy</option>
                        <option value="gb">Wielka Brytania</option>
                        <option value="us">USA</option>
                    </select>
                    <img id="ship_flag_img" src="" class="ui-state-default" alt="">
                    <label for="length" class="">Długość</label>
                    <input type="text" name="length" id="ship_length" value="" class="text ui-widget-content ui-corner-all number ship_val">
                </div>
                <hr>
                <div class="row">
                    <label for="email" class="">Data Od</label>
                    <input type="text" class="date" name="date_start">
                </div>
                <div class="row">
                    <label for="email" class="">Data Do</label>
                    <input type="text" class="date" name="date_end">
                </div>
                <hr>
                <div class="row text-center">
                    <input type="submit" value="Dodaj postój">
                </div>
                {% csrf_token %}
            </fieldset>
        </form>
    </div>
    <div id="date_form" class="container">
        <form class="serialise_form">
            <fieldset>
                <div class="row">
                    <label for="date_start" class="">Data Od</label>
                    <input type="text" class="date date_now serial" name="date_start">
                    <label for="date_end" class="">Data Do</label>
                    <input type="text" class="date date_now serial" name="date_end">
                    <label for="show_hubs" class="">Postumenty</label>
                    <input type="checkbox" name="show_hubs" checked class="serial">
                    <label for="show_free" class="">Wolne</label>
                    <input type="checkbox" name="show_free" checked class="serial">
                    <label for="show_booked" class="">Zajete</label>
                    <input type="checkbox" name="show_booked" checked class="serial">
                    <label for="show_residents" class="">Rezydenci</label>
                    <input type="checkbox" name="show_residents" checked class="serial">
                </div>
            </fieldset>
        </form>
    </div>
    <div id="mapid"></div>
{% endblock content %}