{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block scripts %}
    {{ block.super }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}" />
    <script src="{% static 'leaflet/leaflet.js' %}"></script>
    <link rel="stylesheet" href="{% static 'jquery-ui/jquery-ui.css' %}">
    {#    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>#}
    {#    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>#}
    <script src="{% static 'js/places.js' %}"></script>
    <style>
        #mapid { height: 800px; }
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        table {
            font-size: 1em;
        }

        .ui-draggable, .ui-droppable {
            background-position: top;
        }
    </style>
    <script>
        var ships = [
            {% for ship in ships %}
                {
                    value: '{{ ship.id }}',
                    label: '{{ ship }}',
                    name: '{{ ship.name }}',
                    length: '{{ ship.length }}',
                    flag: '{{ship.flag.code}}'
                },
            {% endfor %}
        ];
        {#        hubs = {};#}
        {#        places = {};#}
        {#        piers = {};#}
        {#        map = null;#}
    </script>
    <script>
        $(document).ready(function() {

            $( function() {
                $( "#visible input" ).checkboxradio({
                    icon: false
                });
            } );

            var _height = $(window).height()-50;
            $('#mapid').css('height', _height);
            map = L.map('mapid', {
                {#                crs: L.CRS.Simple#}
            }).setView([53.9747, 14.769], 18);
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiYmVyZXQiLCJhIjoiY2lwM3I3NHVzMDAxendibHlybTNvbWZ5eSJ9.QeqzTkthT-iHFe6z9WZiuA', {
                maxZoom: 22,
                attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> SeaStone Marina Manager © Adam Mańczuk, inspiration by Mariusz Palenica',
                id: 'mapbox.streets'
            }).addTo(map);

            {% for pier, items in piers %}
                var _xb = {{ pier.loc_start_x }};
                var _xe = {{ pier.loc_end_x }};
                var _yb = {{ pier.loc_start_y }};
                var _ye = {{ pier.loc_end_y }};

                var _n = {{ pier.len }};

                var _lpm = 1/111120;


                var _r = 90/(90-_xb);
                var _xp = _xb-_xe;
                var _yp = _yb-_ye;
                var _xpn = _xp/(_n*6);
                var _ypn = _yp/(_n*6);

                var _lp = Math.sqrt(_xp*_xp+_yp*_yp);
                var _fpm = _lpm/_lp;

                var _xpm = (_xp*_fpm)*_r;
                var _ypm = (_yp*_fpm)*-1;

                var _lmi = 2/111120;
                var _fmi = _lmi/_lp;
                var _xmi = (_xp*_fmi)*_r;
                var _ymi = (_yp*_fmi)*-1;

                var _lmi_yb = 1/111120;
                var _fmi_yb = _lmi_yb/_lp;
                var _xmi_yb = (_xp*_fmi_yb)*_r;
                var _ymi_yb = (_yp*_fmi_yb)*-1;

                var _lmj_yb = 10/111120;
                var _fmj_yb = _lmj_yb/_lp;
                var _xmj_yb = (_xp*_fmj_yb)*_r;
                var _ymj_yb = (_yp*_fmj_yb)*-1;

                var _im = 0;
                var _li = 0;
                var pier = {
                    id: {{ pier.id }},
                    icon: L.polygon([
                        [_xb + _ypm, _yb + _xpm],
                        [_xe + _ypm, _ye + _xpm],
                        [_xe - _ypm, _ye - _xpm],
                        [_xb - _ypm, _yb - _xpm]
                    ]),
                    places: {},
                    hubs: {},
                    yboms: {}
                };
                piers[{{ pier.id }}] = pier;
                var place;
                var hub;


                {% for item in items %}
                    place = null;
                    hub = null;
                    _set_place = function(place){
                        if(place && place.icon){
                            places[{{ item.id }}] = place;
                            pier.places[{{ item.id }}] = place;
                        }
                    };
                    {% if item.type == "place" %}
                        var _lmj = ({{ item.max_length }}+2)/111120;
                        var _fmj = _lmj/_lp;
                        var _xmj = (_xp*_fmj)*_r;
                        var _ymj = (_yp*_fmj)*-1;
                        {% if pier.left_site %}
                            {% if pier.right_site %}if(_im%2==0){ _li = _im/2; {% else %} _li = _im;{% endif %}
                            place = {
                                id: {{ item.id }},
                                icon: L.polygon([
                                    [_xb-(_xpn*(_li*6+1))-_ymi, _yb-(_ypn*(_li*6+1))-_xmi],
                                    [_xb-(_xpn*(_li*6+3))-_ymj, _yb-(_ypn*(_li*6+3))-_xmj],
                                    [_xb-(_xpn*(_li*6+5))-_ymi, _yb-(_ypn*(_li*6+5))-_xmi]
                                ]),
                                connector: L.circle([_xb-(_xpn*(_li*6+3))-_ymi, _yb-(_ypn*(_li*6+3))-_xmi], 0.5),
                                connection: [_xb-(_xpn*(_li*6+3))-_ymi, _yb-(_ypn*(_li*6+3))-_xmi]
                            };
                            {% if pier.right_site %}}{% endif %}
                        {% endif %}
                        {% if pier.right_site %}
                            {% if pier.left_site %}if(_im%2==1){ _li = (_im - 1) / 2; {% else %} _li = _im;{% endif %}
                            place ={
                                id: {{ item.id }},
                                icon: L.polygon([
                                    [_xb - (_xpn * (_li * 6 + 1)) + _ymi, _yb - (_ypn * (_li * 6 + 1)) + _xmi],
                                    [_xb - (_xpn * (_li * 6 + 3)) + _ymj, _yb - (_ypn * (_li * 6 + 3)) + _xmj],
                                    [_xb - (_xpn * (_li * 6 + 5)) + _ymi, _yb - (_ypn * (_li * 6 + 5)) + _xmi]
                                ]),
                                connector: L.circle([_xb - (_xpn * (_li * 6 + 3)) + _ymi, _yb - (_ypn * (_li * 6 + 3)) + _xmi], 0.5),
                                connection: [_xb - (_xpn * (_li * 6 + 3)) + _ymi, _yb - (_ypn * (_li * 6 + 3)) + _xmi]
                            };
                            {% if pier.left_site %}}{% endif %}
                        {% endif %}
                        _im++;
                        _set_place(place);
                    {% endif %}
                    {% if item.type == "ybom" %}
                        var _li_yb = 0;
                        if(_li){
                            _li_yb = _li+1;
                        }
                        ybom = {
                            id: {{ item.id }},
                            {% if item.left %}
                                icon: L.polyline(
                                        [
                                            [_xb - (_xpn * (_li_yb * 6)) - _ymi_yb, _yb - (_ypn * (_li_yb * 6)) - _xmi_yb],
                                            [_xb - (_xpn * (_li_yb * 6)) - _ymj_yb, _yb - (_ypn * (_li_yb * 6)) - _xmj_yb]
                                        ],
                                        {weight: 10}
                                ),
                            {% else %}
                                icon: L.polyline(
                                        [
                                            [_xb - (_xpn * (_li_yb * 6)) + _ymi_yb, _yb - (_ypn * (_li_yb * 6)) + _xmi_yb],
                                            [_xb - (_xpn * (_li_yb * 6)) + _ymj_yb, _yb - (_ypn * (_li_yb * 6)) + _xmj_yb]
                                        ],
                                        {weight: 10}
                                ),
                            {% endif %}
                            connection: [_xb-(_xpn*(_li*6)), _yb-(_ypn*(_li*6))]
                        };
                        {#                        ybom.icon.bindPopup("<b>{{ item }}</b>");#}
                        yboms[{{ item.id }}] = ybom;
                        pier.yboms[{{ item.id }}] = ybom;
                    {% endif %}
                    {% if item.type == "hub" %}
                        hub = {
                            id: {{ item.id }},
                            icon: L.circle([_xb-(_xpn*(_li*6)), _yb-(_ypn*(_li*6))], 1),
                            connection: [_xb-(_xpn*(_li*6)), _yb-(_ypn*(_li*6))]
                        };
                        hub.icon.bindPopup("<b>{{ item }}</b>");
                        hubs[{{ item.id }}] = hub;
                        pier.hubs[{{ item.id }}] = hub;
                    {% endif %}
                {% endfor %}
            {% endfor %}
            {#            draw_places();#}
            {#            draw_hubs();#}
            $(".refresh_change").change(draw_all);
            $(".refresh_click").click(draw_all);
            draw_all();
        });

    </script>
{% endblock scripts %}
{% block content %}
    <div id="date_form" class="container">
        <form>
            <div class="row">
                <fieldset>
                    <label for="boat_size" class="">{% trans 'Length' %}</label>
                    <input type="number" class="serial refresh_change" name="boat_size" id="boat_size" size="3">
                    <label for="date_start" class="">{% trans 'Date From' %}</label>
                    <input type="text" class="date date_now serial refresh_change" name="date_start" id="date_start">
                    <label for="date_end" class="">{% trans 'To' %}</label>
                    <input type="text" class="date date_now serial refresh_change" name="date_end" id="date_end">
                    <spam id="visible">
                        <label for="show_free" class="">{% trans 'Free' %}</label>
                        <input type="checkbox" name="show_free" id="show_free" checked class="serial refresh_click">
                        <label for="show_booked" class="">{% trans 'Occupied' %}</label>
                        <input type="checkbox" name="show_booked" id="show_booked" checked class="serial refresh_click">
                        <label for="show_resident" class="">{% trans 'Residents' %}</label>
                        <input type="checkbox" name="show_resident" id="show_resident" checked class="serial refresh_click">
                        <label for="show_hubs" class="">{% trans 'Service points' %}</label>
                        <input type="checkbox" name="show_hubs" id="show_hubs" checked class="serial refresh_click">
                        <label for="show_ybooms" class="">{% trans 'Y-Booms' %}</label>
                        <input type="checkbox" name="show_ybooms" id="show_ybooms" checked class="serial refresh_click">
                    </spam>
                </fieldset>
            </div>
        </form>
    </div>
    <div id="mapid"></div>

    <!-- Hotjar Tracking Code for hipisi.org.pl -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:343444,hjsv:5};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
{% endblock content %}