{% extends 'place_state.html' %}
{% load i18n %}
{% block edit_button %}{% endblock edit_button %}
{% block script %}
    edit_stay({{ stay_id }});
{% endblock script %}
{% block form %}
    <form method="post" id="form_{{ place_id }}" onsubmit="return false;">
        <fieldset>
            <label for="email" class="">{% trans 'Data Od' %}</label>
            <input type="text" class="date" name="date_start" id="date_start_{{ place_id }}">
            <span id="date_end_span_{{ place_id }}">
                <label for="email" class="date_end_{{ place_id }}" id="">{% trans 'Data Do' %}</label>
                <input type="text" class="date" name="date_end" class="date_end_{{ place_id }}" id="date_end_{{ place_id }}">
            </span>
        </fieldset>
        <hr>
    </form>
{% endblock form %}