{% extends 'place_state.html' %}
{% block script %}
    set_stay({{ place_id }});
{% endblock script %}
{% block form %}
    <form method="post" id="form_{{ place_id }}" onsubmit="return false;">
        <fieldset>
            {% csrf_token %}
            <input type="hidden" name="ship_id" id="ship_id_{{ place_id }}" value="">
            <input type="hidden" name="place_id" value="{{ place_id }}">
            <label for="ship_name" class="">Jacht</label>
            <input type="text" name="ship_name" id="ship_select_{{ place_id }}" value="" class="text ui-widget-content ui-corner-all ship_fields">
            <label for="length" class="">Długość</label>
            <input type="text" name="length" id="ship_length_{{ place_id }}" value="" class="text ui-widget-content ui-corner-all number ship_val ship_fields">
            <select name="flag" id="ship_flag_{{ place_id }}" class="ship_fields">
                <option>wybierz flagę...</option>
                <option value="pl">Polska</option>
                <option value="de">Niemcy</option>
                <option value="se">Szwecja</option>
                <option value="dk">Dania</option>
                <option value="nl">Holandia</option>
                <option value="no">Norwegia</option>
                <option value="fr">Francja</option>
                <option value="be">Belgia</option>
                <option value="fi">Finlandia</option>
                <option value="cz">Czechy</option>
                <option value="gb">Wielka Brytania</option>
                <option value="us">USA</option>
                {% for flag in flags %}
                    <option value="{{ flag.code }}">{{ flag.name }}</option>
                {% endfor %}
            </select>
            <img id="ship_flag_img_{{ place_id }}" src="" class="ui-state-default" alt="">
        </fieldset>
        <hr>
        <fieldset>
            <label for="type" class="">Rodzaj postoju: </label>
            <span>Postój<input type="radio" name="type" id="type_stay_{{ place_id }}" value="stay" class="ui-widget-content ui-corner-all" checked></span>
            <span >Rezydent<input type="radio" name="type" id="type_resident_{{ place_id }}" value="resident" class="ui-widget-content ui-corner-all"></span>
        </fieldset>
        <hr>
        <fieldset>
            <label for="email" class="">Data Od</label>
            <input type="text" class="date" name="date_start" id="date_start_{{ place_id }}">
            <span id="date_end_span_{{ place_id }}">
                <label for="email" class="date_end_{{ place_id }}" id="">Data Do</label>
                <input type="text" class="date" name="date_end" class="date_end_{{ place_id }}" id="date_end_{{ place_id }}">
            </span>
        </fieldset>
        <hr>
    </form>
{% endblock form %}
{% block submit_text %}Dodaj postój{% endblock submit_text %}