{% load i18n %}
<textarea id="_call_{{ hub_id }}" >
    var hub_id = {{ hub_id }};
    $("#close_hub_{{ hub_id }}").click(function(){close_hub_popup({{ hub_id }})});
    $("#save_counters_{{ hub_id }}").click(set_hub_action.bind(null, {{ hub_id }}, "save_counters", null));
    {% for connector in connectors %}
        {% if not connector.conected %}
            $("#connect_{{ connector.id }}").click(set_hub_action.bind(null, {{ hub_id }}, "connect_counter", {{ connector.id }}));
        {% endif %}
    {% endfor %}
    {% block script %}
    {% endblock script %}
</textarea>
<div id="title_{{ hub_id }}" class="row">
    <b class="pull-left">{{ hub.pier.name }} {{ hub.name }}</b>
</div>
<hr>
<div id="hub_{{ hub_id }}">
    {% block form %}
{#    <ul>#}
        {% for connector in connectors %}
            <div class="row">
                {{ connector.name }}: {% if not connector.conected %}<button id="connect_{{ connector.id }}">{% trans 'Podłącz jacht' %}</button>{% else %} {{ connector.current_place }} {{ connector.current_ship }}{% endif %} {% trans 'Licznik:' %} <input type="number" name="counter_{{ connector.id }}" value="{{ connector.counter }}" class="serial">
            </div>
        {% endfor %}
{#    </ul>#}
    {% endblock form%}
    <fieldset>
        {% block buttons %}
            {% block submit %}
                <button id="save_counters_{{ hub_id }}" class="pull-left">{% block submit_text %}{% trans 'Zapisz liczniki' %}{% endblock submit_text %}</button>
            {% endblock submit %}
            <button id="close_hub_{{ hub_id }}" class="pull-right">{% trans 'Zamknij' %}</button>
        {% endblock buttons %}
    </fieldset>
</div>