{% extends 'place_state.html' %}
{% load i18n %}
{% block script %}
{% for resident, leaves in residents %}
    $("#remove_contract_{{ resident.pk }}").click(set_action.bind(null, {{ place_id }}, "remove_contract", {{ resident.pk }}));
{% endfor %}
{% endblock script %}
{% block form %}
<ul>
{% for resident, leaves in residents %}
   <li>{{ resident.ship }}: {% trans 'from' %} {{ resident.date_start }}{% if resident.date_end %} {% trans 'to' %} {{ resident.date_end }}{% endif %}
       {% if resident.contact_name or  resident.contact_phone or resident.contact_email %}
       <br>
           {% trans 'Contact' %} {{ resident.contact_name }}
           {% if resident.contact_phone %}{% trans 'phone' %}{{ resident.contact_phone }}{% endif %}
           {% if resident.contact_email %}{% trans 'email' %} <a href="mailto:{{ resident.contact_email }}">{{ resident.contact_email }}</a> {% endif %}
       {% endif %}
        {% if resident.notices %}
            <div>{{ notices }}</div>
        {% endif %}
       <button id="remove_contract_{{ resident.pk }}">{% trans 'Delete' %}</button>
       <ul>
           {% for leave in leaves %}
               
           {% endfor %}
       </ul>
    </li>
{% endfor %}
</ul>
{% endblock form %}
{% block submit %}
{% endblock submit %}