{% extends 'place_state.html' %}
{% block script %}
{% for resident, leaves in residents %}
    $("#remove_contract_{{ resident.pk }}").click(set_action.bind(null, {{ place_id }}, "remove_contract", {{ resident.pk }}));
{% endfor %}
{% endblock script %}
{% block form %}
<ul>
{% for resident, leaves in residents %}
   <li>{{ resident.ship }}: od {{ resident.date_start }}{% if resident.date_end %} do {{ resident.date_end }}{% endif %}
       {% if stay.contact_name or  stay.contact_phone or stay.contact_email %}
       <br>
           Kontakt: {{ stay.contact_name }}
           {% if stay.contact_phone %}telefon:{{ stay.contact_phone }}{% endif %}
           {% if stay.contact_email %}email: <a href="mailto:{{ stay.contact_email }}">{{ stay.contact_email }}</a> {% endif %}
       {% endif %}
       <button id="remove_contract_{{ resident.pk }}">Usuń</button>
       <ul>
           {% for leave in leaves %}
               
           {% endfor %}
       </ul>
    </li>
{% endfor %}
</ul>
{% endblock form %}
{% block submit %}
{% endblock submit %}